/*--------------------------------------------
Condensed version of MIDAS 2013 Style Sheet by 
Bill Mills (TRIUMF) for compact viewing,
for the MIDAS team.  Notice anything ugly or
unusable?  File an issue at MIDAS' Bitbucket
(remember to include your browser version,
and a screenshot if possible), and the designer
will adress it ASAP.
--------------------------------------------*/


/*
   CSS reset for maximum browser consistency.
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
   display: block;
}
body {
   line-height: 1;
}
ol, ul {
   list-style: none;
}
blockquote, q {
   quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
   content: '';
   content: none;
}
table {
   border-collapse: separate;
   border-spacing: 0;
}
/*end CSS reset*/

/*ask the box model to please behave in a sane manner*/
* { 
   box-sizing: border-box; 
}

/*generic elements////////////////////////////////////////////////////*/

body {
   font-family:verdana,tahoma,sans-serif;
   color:#111111;
   background-color: #EEEEEE;
   min-width: -moz-min-content;
   min-width: -webkit-min-content; /*currently (July 2013) only FF and Chrome support min-content, expand to other browsers as they catch up.*/
   text-align:center;
   height:100%;
}

form {
   height:100%;
}

table {
   /*center all tables*/
   margin-left: auto;
   margin-right: auto;
   /*don't mash cells into each other*/
   border-spacing: 1px;
}

td{
   /*pad cells proportionally to text size:*/;
   padding:0.25em;
   /*center cell contents*/
   text-align: center;

   border:1px solid #EEEEEE;
}

th, h1, h3{
   /*pad cells proportionally to text size:*/;
   padding:0.25em;   
   text-align: center;
}

p{
   line-height: 1.5em;
}

select{
   font-size: 100%;
}

/* define special shape for all buttons */
button, input[type=button], input[type=submit], input[type=reset] {
   background-color: #CCCCCC; /*#00B26B;*/
   color: #444444;
   font-size: 100%;
   padding:0.25em;
   padding-left: 0.5em;
   padding-right: 0.5em;
   border:1px solid #808080;
   border-radius: 5px;
   margin-bottom:1px;
}

/* special colours for enabled buttons */
button:enabled, input:enabled[type=button], input:enabled[type=submit], input:enabled[type=reset] {
   background: #f5f5f5; /* Old browsers */
   background: -moz-linear-gradient(top,  #f5f5f5 0%, #c0c0c0 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#c0c0c0)); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top,  #f5f5f5 0%,#c0c0c0 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top,  #f5f5f5 0%,#c0c0c0 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top,  #f5f5f5 0%,#c0c0c0 100%); /* IE10+ */
   background: linear-gradient(to bottom,  #f5f5f5 0%,#c0c0c0 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#c0c0c0',GradientType=0 ); /* IE6-9 */
}

/* special colours for hovered buttons */
button:hover:enabled, input[type=button]:hover:enabled, input[type=submit]:hover:enabled, input[type=reset]:hover:enabled {
   background: #ffffff; /* Old browsers */
   background: -moz-linear-gradient(top,  #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f3f3f3), color-stop(51%,#ededed), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* IE10+ */
   background: linear-gradient(to bottom,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

/* default colours for disabled buttons */
button:disabled, input[type=button]:disabled, input[type=submit]:disabled, input[type=reset]:disabled {
}

td.ODBdirectory{
   text-align: left;
   background-color: #EEEEEE;
   padding-left: 2em;
}

td.titleCell{
   font-weight: bold;
}

tr.titleRow{
   font-weight: bold;
   background-color: #EEEEEE !important;
}

table.navigationTable{
   width: 100%;
   height: 42px;
   margin-left: auto; /* center buttons */
   margin-right: auto;
   color: #EEEEEE;
   border-bottom:1px solid #808080;
   border-collapse: collapse;
   border-spacing: 0;
   
   background: #e9e9e9; /* Old browsers */
   background: -moz-linear-gradient(top,  #e9e9e9 0%, #b7b7b7 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e9e9e9), color-stop(100%,#b7b7b7)); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top,  #e9e9e9 0%,#b7b7b7 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top,  #e9e9e9 0%,#b7b7b7 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top,  #e9e9e9 0%,#b7b7b7 100%); /* IE10+ */
   background: linear-gradient(to bottom,  #e9e9e9 0%,#b7b7b7 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9e9e9', endColorstr='#b7b7b7',GradientType=0 ); /* IE6-9 */
}

table.navigationTable td{
   border: none;
}

input[type=button].navButton {
   background-color: #CCCCCC; /*#00B26B;*/
   color: #444444;
   font-size: 100%;
   padding:0.25em;
   padding-left: 0.5em;
   padding-right: 0.5em;
   border:1px solid #808080;
   border-radius: 5px;
   margin-bottom:1px;

   background: #f5f5f5; /* Old browsers */
   background: -moz-linear-gradient(top,  #f5f5f5 0%, #c0c0c0 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#c0c0c0)); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top,  #f5f5f5 0%,#c0c0c0 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top,  #f5f5f5 0%,#c0c0c0 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top,  #f5f5f5 0%,#c0c0c0 100%); /* IE10+ */
   background: linear-gradient(to bottom,  #f5f5f5 0%,#c0c0c0 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#c0c0c0',GradientType=0 ); /* IE6-9 */
}

input[type=button].navButton:hover{
   background: #ffffff; /* Old browsers */
   background: -moz-linear-gradient(top,  #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f3f3f3), color-stop(51%,#ededed), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* IE10+ */
   background: linear-gradient(to bottom,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

input[type=button].navButtonSel {
   color: #F8F8F8;
   font-size: 100%;
   padding:0.25em;
   padding-left: 0.5em;
   padding-right: 0.5em;
   border:1px solid #808080;
   border-radius: 5px;
   margin-bottom:1px;

   background: #676767; /* Old browsers */
   background: -moz-linear-gradient(top,  #676767 0%, #999999 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#676767), color-stop(100%,#999999)); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top,  #676767 0%,#999999 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top,  #676767 0%,#999999 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top,  #676767 0%,#999999 100%); /* IE10+ */
   background: linear-gradient(to bottom,  #676767 0%,#999999 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#676767', endColorstr='#999999',GradientType=0 ); /* IE6-9 */
}

input[type=button].botButton {
   background-color: #CCCCCC; /*#00B26B;*/
   color: #444444;
   font-size: 70%;
   padding:0.25em;
   padding-left: 0.5em;
   padding-right: 0.5em;
   border:1px solid #808080;
   border-radius: 5px;
   position: relative;
   top: 50%;
   transform: translateY(-50%);
}

table.headerTable{
   width:100%;
   color:#EEEEEE;
   background-color: #E0E0E0;
   border-bottom:1px solid #000000;
   border-collapse: collapse;
   border-spacing: 0;
   margin-bottom: 0.5em;
   
   background: #e9e9e9; /* Old browsers */
   background: -moz-linear-gradient(top,  #e9e9e9 0%, #b7b7b7 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e9e9e9), color-stop(100%,#b7b7b7)); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top,  #e9e9e9 0%,#b7b7b7 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top,  #e9e9e9 0%,#b7b7b7 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top,  #e9e9e9 0%,#b7b7b7 100%); /* IE10+ */
   background: linear-gradient(to bottom,  #e9e9e9 0%,#b7b7b7 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9e9e9', endColorstr='#b7b7b7',GradientType=0 ); /* IE6-9 */
}

table.headerTable td{
   border: none;
}

div.footerDiv{
   background-color: #808080;
   text-align: center;
   padding:1em;
   color:#EEEEEE;
   border-top:1px solid #000000;
   height:3em;
}

div.push{
   height:3em;
}

div.footerDiv a{
   color: #f1c40f;
}

input[type=text]{
   font-size: 100%
}

div.wrapper{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -3em;
}

.historyConfigTable, .dialogTable, .runlogTable, .messageBox, .chatBox, .chatInput, .genericTable, .sequencerTable {
   border-radius: 12px;
   border: 2px solid #00B26B;
   background-color: #EEEEEE;
   color:#111111;
   padding:0.5em;
   margin-top: 0em;
   margin-bottom:1em;
}

.runlogTable td {
   border: none;
   text-align: left;
   font-family: monospace;
}

.runlogTable pre {
   line-height: 125%;
}

table.sequencerTable td{
   text-align: left;
}

table.sequencerTable td table{
   margin: 0px;
}

table.dialogTable td{
   border:none;
}

table.historyConfigTable td{
    border-bottom: 1px solid;
    text-align: left;
}

table.historyConfigTable th{
    border-top: 2px solid;
    border-bottom: 2px solid;
    text-align: center;
    font-weight: bold;
}

.historyTable td{
   text-align: left;
}

.ODBpath{
   text-align: left;
   font-size: 120%;
   background-color: #EEEEEE;
}

/*Status page objects/////////////////////////////////////////////////*/

/*status page master table*/
#statusTable{
   padding:0.5em;
   padding-top: 0em;
   background-color: #EEEEEE;
}

/*experiment title*/
#experimentTitle{
   text-align: center;
   font-size: 120%;
}

/*status page time*/
#masterTime{
   text-align: center;
   font-size: 120%;
}

#runButton{
   padding:0.25em;
   margin-top:0.25em;
}

/*Equipment table*/
.subStatusTable, .alarmTable{
   border:2px solid #00B26B;
   border-radius: 12px; 
   padding:2px;
}

.subStatusTitle{
   font-size: 120%;
   font-weight: bold;
   border-radius:12px;
   background-color:#3498db; 
   color:#EEEEEE; 
}

.chatTitle{
   font-size: 120%;
   font-weight: bold;
   border-radius:12px;
   background-color:#3498db;
   color:#EEEEEE;
   padding-left: 10em;
   padding-right: 10em;
}

/*make sure fills in subStatusTable cells don't have sharp corners poking into the curved table corner"*/
.subStatusTable tr:first-child td:first-child{
   border-top-left-radius: 12px;
}
.subStatusTable tr:first-child td:last-child{
   border-top-right-radius: 12px;
}
.subStatusTable tr:last-child td:first-child{
   border-bottom-left-radius: 12px;
}
.subStatusTable tr:last-child td:last-child{
   border-bottom-right-radius: 12px;
}

td.meterCell{
   padding: 0px;
   text-align: left;
   height:26px;
}

#runNumberCell{
   font-size:120%;
   line-height: 1.25em;
   vertical-align: middle;
   border-radius: 12px;
   border:2px solid #EEEEEE;
   width:15%;
}

.alarmTable{
   border-spacing: 0px 1px;
}

.alarmTable td{
   border: none;
}

.greenLight{
   background-color: #00E600;
   border-radius: 5px;
   border: 1px solid #000000 !important;
}

.yellowGreenLight{
   background: linear-gradient(45deg, #00E600 25%, #f1c40f 25%, 
                                           #f1c40f 50%, #00E600 50%, 
                                           #00E600 75%, #f1c40f 75%,
                                           #f1c40f);
        background-size: 50px 50px;
   border-radius: 5px;
   border: 1px solid #000000 !important;
}

.redLight{
   background-color: #c0392b;
   border-radius: 5px;
   border: 1px solid #000000 !important;
   color: #EEEEEE;

   animation-name: pulse;
   -webkit-animation-name: pulse;   

   animation-duration: 1.5s;  
   -webkit-animation-duration: 1.5s;

   animation-iteration-count: 0; /*infinite*/
   -webkit-animation-iteration-count: 0; /*infinite*/
}

@keyframes pulse{
   0% {
      background-color:#EEEEEE;
      border-color:#EEEEEE;
   }
   50% {
      background-color:#c0392b;
      border-color:#000000;
   }
   100% {
      background-color:#EEEEEE;
      border-color:#EEEEEE;
   }

}

@-webkit-keyframes pulse{
   0% {
      background-color:#EEEEEE;
      border-color:#EEEEEE;
   }
   50% {
      background-color:#c0392b;
      border-color:#000000;
   }
   100% {
      background-color:#EEEEEE;
      border-color:#EEEEEE;
   }

}

.yellowLight{
   background-color: #f1c40f;
   border-radius: 5px;
   border: 1px solid #000000 !important;
}

.whiteLight{
   background-color: #EEEEEE;
   border-radius: 5px;
   border: 1px solid #000000 !important;
}

.Light{
   border-radius: 5px;
   border: 1px solid #000000 !important;
}

.msgService{
   background-color: #C0C0C0;
   border-radius: 12px;
   padding: 1em;
}

.msgServiceTalk{
   background-color: #C0E0C0;
   border-radius: 12px;
   padding: 1em;
}

.msgServiceErr{
   background-color: #FF0000;
   color:black;
   border-radius: 12px;
   border: 1px solid #000000;
   padding: 1em;
}

.msgChatService{
   border-radius: 12px;
   padding: 1em;
}

/*---- ODB pages ----*/
.ODBkey{
   text-align: left;
   padding-left: 2em;
   border-top: 1px solid #DDDDDD;
}

.ODBvalue{
   text-align: left;
   border-top: 1px solid #DDDDDD;
}

.ODBtable{
   border-radius: 25px;
   border: 2px solid #00B26B;
   background-color: #EEEEEE;
   color:#111111;
   padding:0.5em;
   margin-top: 1em;
   margin-bottom:1em;
}

.genericStripe{
   border-spacing: 0px 1px;
}

.genericStripe td{
   border:none;
}

/*table striping*/
.ODBtableEven {
   background-color: #DDDDDD;
   border-top: 1px solid #DDDDDD;
   border-bottom: 1px solid #DDDDDD;
   text-align:left;
}

.ODBtableOdd {
   background-color: #EEEEEE;
   text-align:left;
}

#stripeList tr:nth-child(even), .alarmTable tr:nth-of-type(odd), .historyTable tr:nth-child(odd), .genericStripe tr:nth-child(odd), .messageBox p:nth-child(odd){
   background-color: #DDDDDD;
}

#elogContent tr:nth-child(4n+3), #elogContent tr:nth-child(4n+4){
   background-color: #DDDDDD;
}

#elogContent{
   border-spacing:0px;  
}

.elogText{
  line-height: normal;
  text-align: left;
  color: black;
  background-color: white;
}

/*client table checkers*/
#clientsTable tr:nth-child(odd) td:nth-child(odd){
   background-color: #DDDDDD;
}
#clientsTable tr:nth-child(even) td:nth-child(even){
   background-color: #DDDDDD;
}

#stripeList{
   border-spacing: 0px 1px;
}

#stripeList td{
   border:none;
}

/*---- Messages & Chat pages ----*/

.messageBox {
   text-align: left;
   overflow: scroll;
   line-height: 0.75em;
   margin: 0.25em;
   width: 100%-0.5em;
}

.messageLine {
   font-family: Lucida Console, Fixed, Monospace;
   white-space: pre-wrap;
}

.chatInput {
   line-height: 0.75em;
   margin: 0.25em;
   padding: 3px;
}

.chatBox {
   text-align: left;
   overflow: scroll;
   line-height: 0.75em;
   margin-top: 0.25em;
   margin-bottom: 0.25em;
   margin-left: auto;
   margin-right: auto;
   max-width: -webkit-max-content;
   max-width: -moz-max-content;
   background: #B2E1FF;
   background: -moz-linear-gradient(top,  #B2E1FF 0%, #66B6FC 100%);
   background: -webkit-linear-gradient(top,  #B2E1FF 0%,#66B6FC 100%);
   background: linear-gradient(to bottom,  #B2E1FF 0%,#66B6FC 100%);
}

.chatBubbleMine {
   border-radius:12px;
   background-color:#DCF8C6;
   color:black;
   padding:1em;
   margin:0.25em;
   margin-left:1.5em;
   max-width: -webkit-max-content;
   max-width: -moz-max-content;
   float:right;
}

.chatBubbleTheirs {
   border-radius:12px;
   background-color:white;
   color:black;
   padding:1em;
   margin:0.25em;
   margin-right:1.5em;
   max-width: -webkit-max-content;
   max-width: -moz-max-content;
   float:left;
}

.chatBubbleFooter {
   border-radius:12px;
   background-color:#DCF8C6;
   padding:0.5em;
   margin:0.5em;
}

span.chatBubbleFooter a {
   color:blue;
}

.chatStatus {
   border-radius:12px;
   background-color:#DCF8C6;
   padding:0.5em;
}

.chatTextFooter {
   padding:0.25em;
   color:black;
}

.chatNameTheirs {
   text-align: left;
   font-size: 70%;
   margin-bottom: 0.5em;
   color:#808080;
}

.chatNameMine {
   text-align: right;
   font-size: 70%;
   margin-bottom: 0.5em;
   color:#808080;
}

.chatMsg {
   line-height: 1.5em;
}

/* standard link colors and decorations */
a:link { color:#0000FF; text-decoration:none }
a:visited { color:#800080; text-decoration:none }
a:hover { color:#0000FF; text-decoration:underline }
a:active { color:#0000FF; text-decoration:underline }
a:focus { color:#0000FF; text-decoration:underline }

/* MSCB */
.vars td.v1:nth-child(odd), .vars td.v2:nth-child(odd){
   background-color: #EEEEEE !important;
}


