/*----------------------------------------------------------
   CSS formatting for midas web pages
   this css does not contaminate generic html formatting
-----------------------------------------------------------*/

/* required global settings */

body.mcss {
   margin: 0;     /* navigation bar matches window edges */
   height: 100%;  /* for the floating footer */
}

html.mcss {
   height: 100%;  /* for the floating footer */
}

/* standard link colors and decorations */
a:link { color:#0000FF; text-decoration:none }
a:visited { color:#800080; text-decoration:none }
a:hover { color:#0000FF; text-decoration:underline }
a:active { color:#0000FF; text-decoration:underline }
a:focus { color:#0000FF; text-decoration:underline }

/* common settings: fonts, colours, etc */

.mfont, .mnav, .mbutton, .mfooter, .mtable {
   font-family: verdana,tahoma,sans-serif;
}

.mredcolour {
   background-color: #a53529;
   border-radius: 5px;
   border: 1px solid #808080;
   color: #EEEEEE;
}

.myellowcolour {
   background-color: #f1c40f;
   border-radius: 5px;
   border: 1px solid #808080;
}

.mgreencolour {
   background-color: #00c000;
   border-radius: 5px;
   border: 1px solid #808080;
}

/* mnav*css is the navigation bar with the "status", "odb", etc buttons */

#mheader {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 1;
   width: 100%;
   background-color: #D0D0D0;
   border-bottom: 1px solid #A0A0A0;
   color: #404040;
   font-family: verdana,tahoma,sans-serif;
   font-size: 100%;
   text-align: center;
   padding: 4px;
   padding-left: 0;
   display: block;
   line-height: 1;
}

#mheader_message{
   color: white;
   background-color: #a53529;
   border: 1px solid #a50000;
   border-radius: 10px;
   padding: 1px;
   padding-left: 10px;
   padding-right: 10px;
}

#msidenav {
   height:100%;
   position:fixed;
   top: 25px; /* nomal header height */
   z-index: 1;
   left: 0;
   overflow-x: hidden;
   background-color: #D0D0D0;
   color: #404040;
   font-family: verdana,tahoma,sans-serif;
   font-size: 100%;
   padding: 0;
   transition: 0.2s;
}

.mmenuitem {
   padding: 5px;
   text-align:left;
   line-height: 1;
}

.mmenuitem:hover, .mmenuitem:focus {
   background-color: #808080;
   color: #404040;
   cursor: pointer;
}

.mmenulink:hover, .mmenulink:focus {
   text-decoration: none;
   width: 100%;
   display: inline-block;
}

.mmenulink:link, .mmenulink:visited {
   text-decoration: none;
   color: #404040;
   width: 100%;
   display: inline-block;
}

.mmenuitemsel {
   background-color: #A0A0A0;
}

.mseparator {
   height: 2px;
   background-color: #A0A0A0;
}

#mmain {
   display: none;
   position: relative;
   z-index: 0;
   padding-top: 25px; /* normal header height */
}

.mnav {
   background: linear-gradient(to bottom, #e9e9e9 0%,#b7b7b7 100%);
}

.mnav table{
   margin-left: auto;
   margin-right: auto;
}

.mnav td{
   border: 0;
   height: 34px;
}

.mnav input{
   padding: 0.25em;
   padding-left: 0.5em;
   padding-right: 0.5em;
}

.mmsgService{
	background-color: #C0C0C0;
	border-radius: 12px;
   padding: 1em;
}

a.hideButton{
    text-decoration : none; 
    color : #5F88A3;
}

/* all navigation buttons */

input.mnav, .mbutton {
   border: 1px solid #808080;
   border-radius: 5px;
   color: #444444;
   background: linear-gradient(to bottom, #f5f5f5 0%,#c0c0c0 100%);
   font-size: 100%;
   margin: 2px;
}

/* selected navigation button */

input.mnavsel {
   color: #F8F8F8;
   background: linear-gradient(to bottom, #676767 0%,#999999 100%);
}

/* colours for hovered buttons */
input.mnav:hover, .mbutton:hover {
   color: #404040;
   background: linear-gradient(to bottom,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%);
}

input.mnavsel:hover {
   color: #F8F8F8;
   background: linear-gradient(to bottom,  #404040 0%, #808080 100%);
}

/* input box */
input[type=text] {
   font-size: 100%;
}


/* table formatting */

.mtable {
   background-color: #DDDDDD;
   border: 2px solid #6bb28c;
   border-radius: 12px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 0.5em;
   margin-bottom: 0.5em;
   padding: 3px;
}

.mmessagebox {
   margin: 0;
   border: 2px solid #00B26B;
   border-radius: 12px;
   padding: 0;
   overflow: scroll;
   text-align: left;
}

.mmessagebox p:nth-child(odd){
   background-color: #DDDDDD;
}

.mmessagebox p:nth-child(even){
   background-color: #FFFFFF;
}

.mmessageline {
   font-family: Lucida Console, Fixed, Monospace;
   white-space: pre-wrap;
   line-height: 1.5em;
   margin: 0;
   padding-left: 10px;
   padding-right: 10px;
}

.mtable tr:nth-child(odd) {
   background-color: #DDDDDD;
}

.mtable tr:nth-child(even) {
   background-color: #EEEEEE;
}

.mtableheader {
   font-size: 120%;
   font-weight: bold;
   border-radius: 12px;
   background-color: #649dc3;
   color: #EEEEEE;
   margin: 0.1em;
   padding: 0.25em;
   text-align: center;
}

.mtabletitle {
   padding: 0.25em;
}

/* floating footer */

div.mwrapper {
   min-height: 100%;
   height: auto !important;
   height: 100%;
   margin: 0 auto -3em;
}

div.mpush{
   height: 3em;
}

.mfooter {
   background-color: #808080;
   color: #EEEEEE;
   font-size: 100%;
   text-align: center;
   padding: 1em;
}

.mmaintable {
   background-color: #F5F5F5;
   border: 2px solid #6bb28c;
   border-radius: 12px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 0.5em;
   margin-bottom: 0.5em;
   padding: 3px;
}

.clientsTable tr:nth-child(odd) td:nth-child(odd) {
    background-color: #DDDDDD;
}

.clientsTable tr:nth-child(odd) td:nth-child(even) {
    background-color: #FFFFFF;
}

.clientsTable tr:nth-child(even) td:nth-child(even) {
    background-color: #DDDDDD;
}

.clientsTable tr:nth-child(even) td:nth-child(odd) {
    background-color: #FFFFFF;
}


/* end */
